.tile-title-wrapper p,
.something-not-found {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  text-align: center;
}

.tile-container {
  padding: 0 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.tile-title-wrapper {
  padding: 10px;
  width: 45%;
  height: 200px;
  background-color: #2eb7dc;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  transition: 0.4s;
}
.tile-title-wrapper:hover {
  box-shadow: 2px 2px 10px #2eb7dc;
}

.tile-title-wrapper:nth-child(3n) {
  width: 100%;
}
.tile-title-wrapper:nth-child(3n + 1) {
  width: 68%;
}
.tile-title-wrapper:nth-child(3n + 2) {
  width: 26%;
}
.tile-title-wrapper > .tile-subtitle {
  font-size: 22px;
  margin-top: -15px;
  font-weight: 100;
}
.tile-title-wrapper > .tile-title {
  padding-top: 10px;
}
.tile-title-wrapper p {
  font-size: 38px;
  word-wrap: break-word;
}

@media only screen and (max-width: 1230px) {
  .tile-title-wrapper p,
  .something-not-found {
    font-size: 32px;
    line-height: 25px;
  }

  .tile-container {
    justify-content: center;
    gap: 15px;
  }

  .tile-title-wrapper {
    height: 150px;
  }

  .tile-title-wrapper > .tile-subtitle {
    font-size: 18px;
    margin-top: 10px;
  }
  .tile-title-wrapper > .tile-title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1040px) {
  .tile-title-wrapper p,
  .something-not-found {
    font-size: 32px;
    line-height: 25px;
  }

  .tile-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 15px;
  }

  .tile-title-wrapper {
    height: auto;
    padding: 30px 10px;
    width: 100%;
  }
  .tile-title-wrapper:nth-child(3n + 1),
  .tile-title-wrapper:nth-child(3n + 2) {
    width: 100%;
  }

  .tile-title-wrapper > .tile-subtitle {
    font-size: 20px;
    margin-top: 10px;
  }
  .tile-title-wrapper > .tile-title {
    font-size: 26px;
    padding: 0;
  }
}
