.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 60px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.scroll-to-top-button:hover {
  opacity: 0.8;
}
