.main-title.book {
  margin-top: 150px;
  background-color: #2eb7dc;
  padding: 50px 100px;
  border-radius: 10px;
}

.quotes {
  padding: 0 20px;
}

.quote-item {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 90px;
  position: relative;
}

.quote-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #c4c4c4;
  left: 50%;
  bottom: -50px;
  transform: translate(-50%);
}

.books-not-found.quotes {
  margin-top: 150px;
}

.books-not-found.quotes > span {
  color: #2eb7dc;
  text-decoration: underline;
}
