.main-subtitle,
.quote-item {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
}

.quotes-title-wrapper {
  margin-top: 150px;
  background-color: #2eb7dc;
  padding: 50px 100px;
  border-radius: 10px;
  margin-bottom: 90px;
}

.main-subtitle {
  margin-top: 10px;
  font-weight: 200;
}

.quotes-title-wrapper > .main-title {
  margin: 0;
}

.quotes {
  padding: 0 20px;
}

.quote-item {
  margin-bottom: 90px;
  position: relative;
}

.quote-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #c4c4c4;
  left: 50%;
  bottom: -50px;
  transform: translate(-50%);
}

.something-not-found.quotes {
  margin-top: 150px;
}

.something-not-found.quotes > span {
  color: #2eb7dc;
  text-decoration: underline;
}
