.sort-btns-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.sort-btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  border: 3px solid #2eb7dc;
  transition: 0.4s;
}

.sort-btn:hover {
  box-shadow: 2px 2px 10px #2eb7dc;
}

.sort-btn.active {
  background-color: #2eb7dc;
}

@media only screen and (max-width: 600px) {
  .sort-btns-wrapper {
    gap: 10px;
  }
  .sort-btn {
    font-size: 28px;
    padding: 0px 15px;
  }
}
