.main-title,
.book-name-wrapper > p,
.back-button,
.books-not-found {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  text-align: center;
}

.main-title {
  margin-top: 80px;
  margin-bottom: 80px;
}

.books-container {
  padding: 0 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

.book-name-wrapper {
  padding: 10px;
  width: 45%;
  height: 200px;
  background-color: #2eb7dc;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  transition: 0.4s;
}
.book-name-wrapper:hover {
  box-shadow: 2px 2px 10px #2eb7dc;
}

.book-name-wrapper:nth-child(3n) {
  width: 100%;
}
.book-name-wrapper:nth-child(3n + 1) {
  width: 68%;
}
.book-name-wrapper:nth-child(3n + 2) {
  width: 26%;
}

.book-name-wrapper > p {
  width: 100%;
  font-size: 38px;
  word-wrap: break-word;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-button {
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: 158px;
  top: 34px;
}
.back-button::before {
  content: url("../../../public/images/icons/back-arrow.svg");
  margin-right: 10px;
}

.container.books {
  padding-bottom: 100px;
}
