.footer {
  border-top: 2px solid #fff;
}

.footer-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 58px;
  color: #ffffff;
  text-align: center;
  padding: 50px 10px;
}

.footer-text > a {
  text-decoration: none;
  color: #2eb7dc;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .footer-text {
    font-size: 23px;
  }
}
