input[type="file"] {
  display: none;
}

.custom-file-upload,
.file-data,
.input-books-wrapper > a,
.input-books-wrapper > span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.file-upload-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.input-books-wrapper > a {
  display: block;
  color: #2eb7dc;
  text-decoration: none;
  font-size: 26px;
  background-color: #fff;
  border-radius: 7px;
  padding: 25px 45px;
}

.input-books-wrapper > span {
  font-size: 20px;
  display: block;
  margin: 20px 0;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  background: #2eb7dc;
  border-radius: 7px;
  padding: 25px 45px;
}

.upload-content > span {
  padding-left: 20px;
}
