input[type="file"] {
  display: none;
}

.custom-file-upload,
.file-data,
.input-books-wrapper > a,
.input-books-wrapper > span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
}

.file-upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.input-books-wrapper > a {
  display: block;
  color: #2eb7dc;
  text-decoration: none;
  font-size: 26px;
  background-color: #fff;
  border-radius: 7px;
  padding: 25px 45px;
}

.input-books-wrapper > span {
  font-size: 20px;
  display: block;
  margin: 20px 0;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  background: #2eb7dc;
  border-radius: 7px;
  padding: 25px 45px;
}

.upload-content > span {
  padding-left: 20px;
}

.file-upload-head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .custom-file-upload,
  .file-data,
  .input-books-wrapper > a,
  .input-books-wrapper > span {
    font-size: 20px;
  }
  .input-books-wrapper > a,
  .custom-file-upload {
    padding: 20px 30px;
  }

  .input-books-wrapper > span {
    font-size: 18px;
  }
  .file-upload-wrapper {
    padding: 0 20px;
  }
}
